@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none !important;
  color: currentColor;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

header {
  position: fixed;
  width: 100vw;
  height: 100px;
  background-color: rgb(23, 75, 75);
  box-shadow: 0px 3px 8px grey;
  padding: 2px 20px 2px 50px;
}

header .container-fluid {
  width: 100%;
  padding: 16px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navb-logo img {
  width: 70px;
  height: 66px;
}

header .navb-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 3px;
}

header .item {
  text-align: center;
  margin-inline: 1%;
  font-size: 10px;
  letter-spacing: 3px;
  color: #102447;
  padding: 5px 0;
  transition: all 0.1s ease;
  border-bottom: 0px solid #6465f4;
  border-top: 0px solid #6465f4;
  cursor: pointer;
  margin-right: 6%;
}

header .item:hover {
  border-bottom: 3px solid #6465f4;
}

header .item-button a {
  background-color: #102447;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: antiquewhite;
  transition: all 0.5s ease;
}

a {
  font-size: 20px;
  margin: 0;
}

header .item-button a:hover {
  background-color: #a11a1a;
}

header .mobile-toggler {
  font-size: 30px;
  color: black !important;
}

/* modal */

.modal-dialog {
  margin: 0 !important;
  width: 430px !important;
}

@media (max-width: 450px) {
  .modal-dialog {
    width: 1000px !important;
  }
}

.modal-content {
  border-radius: 0;
  height: 100vh;
  overflow-y: scroll !important;
  background-color: #102447 !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto !important;
  margin-bottom: 16px;
  border-bottom: 1px solid #efefef;
}

.modal-header img {
  width: 79px;
  height: 67px;
  margin-top: 5.5px;
}

.modal-header .btn-close {
  background: transparent !important;
  opacity: 1;
}

.modal-header i {
  color: white;
  font-size: 30px;
}

.modal-body {
  width: 88%;
  margin: 0 auto;
  padding: 75px 0 0 0;
  flex: unset;
  margin-top: 12%;
}

.modal-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 0;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #7996c2;
  border-bottom: 1px solid white;
}

.modal-line:hover {
  color: black;
  border-bottom: 1px solid #efefefef;
}

.modal-line a {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #efefefef;
}

.modal-line i {
  color: currentColor;
  font-size: 30px;
  width: 35px;
  margin-right: 15px;
  padding: 0 0 3px 3px;
}

.mobile-modal-footer {
  margin: 0 auto;
}
.login {
  background-color: #7996c2;
  height: 39vh;
}
.login1 {
  background-color: #0a2a5a;
  height: 30vh;
}
.login2 {
  background-color: #15243a;
  height: 50vh;
}
.row {
  margin-top: 49.4px !important;
}
.col {
  height: 62vh;
}
.col img {
  height: 68vh;
}
.footer {
  background-color: #6465f4 !important;
}
.painel {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  padding: 3px;
}
